@tailwind base;
@tailwind components;
@tailwind utilities;

/* scrollbar */
*::-webkit-scrollbar {
	height: 10px;
	width: 6px;
}
*::-webkit-scrollbar-track {
	border-radius: 5px;
	background-color: #131125;
}

*::-webkit-scrollbar-track:hover {
	background-color: #0d0c1d;
}

*::-webkit-scrollbar-track:active {
	background-color: #0d0c1d;
}

*::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: #0d0c1d;
}

*::-webkit-scrollbar-thumb:hover {
	background-color: #5f629a;
}

*::-webkit-scrollbar-thumb:active {
	background-color: #474973;
}

.live_tv::-webkit-media-controls-timeline {
	display: none;
}
